@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
  font-family: 'Mulish', sans-serif;
  background-color: #34150e;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-size: 18px;
}

.titleBanner {
  width: 100vw;
}
.parallaxBanner {
  background-color: #ffb758;
  
}
.imgLayer {
  width: 100vw;
  height: auto;
}

.titleLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10vw;
}

.titleContainer h1 {
  font-size: 2em;
}

.logoImg {
  width: 20vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-bottom: 54px;
}

.aboutContainer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutContainer h1 {
  font-size: max(3em, 18px);
  margin: 16px 0;
  color:#ffb758;
}

.aboutText {
  width: 70vw;
}

.supportContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 60px;
  width: 80%;
}

.supportContainer img {
  width: 25%;

}

.excoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.excoContainer h2 {
  margin: 8px;
  color: #ffb758;
  font-size: 32px;
}

.batchTitle {
  color: #ffffff;
  margin: 8px;
}

.teamContainer {
  margin: 28px 200px;
  display: flex;
  justify-content: center;
  gap: 32px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.teamMember {
  width: 150px;
  text-align: center;
  color: #ffffff;
}

.teamMember h3 {
  margin: 8px 6px;
  font-size: 1rem;
  
}
.teamMember p {
  font-weight: 400;
  margin: 8px 6px;
  font-size: 16px;
}

.excoImg {
  width: 150px;
  margin-bottom: 16px;
}

.eventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}


.eventsTitleHeader {
  color: #ffffff;
  font-size: 32px;
  color: #ffb758;
}

.eventSelectionContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-bottom: 32px;
  
}


.eventSelector {
  font-size: 18px;
  border: none;
  padding: 12px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 180px;
  background-color: #220c07;
  color: #ffffff;
}

.eventDetailsContainer {
  background-color: #220c07;
  border-radius: 12px;
  padding: 24px 36px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.eventDetailsText {
  text-align: left;
  color: #ffffff;
  width: 50%;
}

.eventImgContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventImg {
  width: 100%;
  height: auto;
}
.contactContainer {
  background-color: #220c07;
  border-radius: 12px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 24px;
  width: 70%;
  
}

.contactContainer h2 {
  font-size: 32px;
}


.contactSubCard {
  text-align: left;
  height: 100%;
}


.contactSubCard h3 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 12px;
  
}

.contactTitleContainer {
  width: 65%;
  border-right: 2px solid #ffb758;
  padding: 24px 32px 24px 24px;

}

.contactTitleContainer h2 {
  margin: 0;
}

.contactInfoContainer {
  width: 50%;
  padding: 24px 24px 24px 32px;

}

.contactInfoContainer a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.contactInfoContainer h3 {
  color: #ffb758
}



.contactMethod {
  display: flex;
  margin: 16px 0;
  align-items: center;
  gap: 12px;
}

.contactIcon {
  width: 28px;
}





@media only screen and (max-width: 700px) {
  p {
    font-size: max(1em,12px);
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

  }

  .titleBanner {
    width: 170vw
  }
  
  .titleContainer {
    width: 75vw;
  }

  .titleContainer h1 {
    font-size: max(5.5vw, 18px);
    margin: max(1.2em, 14px), 0;
    
  }

  .logoImg {
    width: max(30vw, 96px);
  }

  .aboutContainer h1 {
    font-size: max(8vw, 18px);
  }

  .excoContainer h2 {
    font-size: max(2em, 18px);
  }

  .batchTitle {
    font-size: 18px;
  }
  .teamContainer {
    margin: 28px 60px;
  }
  
  .teamMember {
    width: 80px
  }
 
  .teamMember p {
    font-size: 12px;
  }
  
  .excoImg {
    width: 80px
  }


  .eventSelector {
    font-size: 1em;

  }

  .eventDetailsTitle {
    font-size: max(4vw, 18px);
  }
  .eventDetailsContainer {
    flex-direction: column;
  }

  .eventDetailsText {
    width: 100%;
    text-align: center;
  }
  .eventImgContainer {
    width: 100%;
    margin: 18px 0;
  }
  .contactContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    
  }

  .contactContainer h2 {
    font-size: 24px;
  }


  .contactSubCard {
    width: 100%;
    text-align: center;

  }

  .contactTitleContainer {
    border-right: none;
  }

  .contactInfoContainer {
    border-top: 2px solid #ffb758;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
  }

  .contactInfoContainer h3 {
    font-size: 18px;
  }

  .contactMethod a {
    font-size: 14px;
  }

  .contactMethod img {
    height: 32px;
  }

  .contactMethod {
    margin: 6px 0;
  }

  .contactTitleContainer {
    width: 100%;
  }

  
}
